h1 {
  color: rgb(240, 2, 2);
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 17, 255), #01adff);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;

  width: 80%;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contenedor div {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 150px;
}

.nombre {
  position: absolute;
  top: 0;
  font-size: 42px;
  color: #01ff41;
}

.hora {
  width: 200px;
}

/*  APP CLIMA  */

.form-clima {
  background-color: rgba(0, 0, 0, 0.4);
  color: aqua;
  margin-top: 20px;
  width: auto;
  height: 150px;
  padding: 10px 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-lugar {
  padding: 7px 20px;
  border-radius: 7px;
  border: none;
  color: rgb(1, 255, 65);
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
}

.btn-clima {
  padding: 7px;
  border-radius: 7px;
  border: none;
  color: white;
  background-color: rgb(1, 255, 65);
}
